/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

body {
    background-color: #f8f8f8;
    color:black;
}
body {
    user-select: none;
  }
  
/* Dark theme styles */
body.dark-theme {

        /* Set your gradient styles here */
        /* Example: A gradient from blue to light blue */
         background: linear-gradient(to right, rgb(57, 54, 105),rgb(14, 13, 14));
        color: #fff; /* Text color for better visibility */
      
}
body.light-theme
{
    background: linear-gradient(to left, #8360c3b5, #2ebf91);
}
.gradientthem
{
    background: linear-gradient(to bottom, #111111, red);
}
.theme-icon {
    cursor: pointer;
    /* Add your icon styles here */
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header styles */
.header {
   
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    border-bottom: 5px solid white;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    color: #fff;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li:first-child {
    margin-left: 0;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    /* background-color: #007bff; */
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color:#2196f321 ;
}

/* .services-section.dark-theme {
    background-image: linear-gradient(to bottom, #c01b1b, #b4b218);
    color: #f8f8f8;
} */
/* .services-section.dark-theme {
    background: linear-gradient(to right, #c01b1b, #b4b218) ;
    color: #f8f8f8;
} */

/* Services section styles */
.services-section {
    padding: 40px 0;
  
}

.carousel-section
{
    background-color: white;
}

.services-section h2 {
    color: #007bff;
    margin-bottom: 20px;
}

.services-section p {
    
    font-size: 16px;
}

.carousel-item
{
    margin-top: 2rem !important;
}
/* About section styles */
.about-section {
    padding: 40px 0;
    background-color: #fff;
}

.about-section h2 {
    color: #007bff;
    margin-bottom: 20px;
}

.about-section p {
    color: black;
    font-size: 16px;
}

/* Contact form styles */
.contact-section {
    padding: 40px 0;
    
    display: flex;
    justify-content: space-evenly;
}

.contact-section h2 {
    color: #007bff;
    margin-bottom: 20px;
}

.contact-section form {
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

label {
   
    font-weight: bold;
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Footer styles */
.footer {
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.footer p {
    margin: 0;
}

/* Media queries for responsiveness */
@media screen and (max-width: 1008px) {
    .navbar {
       
        align-items: flex-start;
        display: flex;
    }

    .logo {
        margin-bottom: 20px;
    }

    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #007bff;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links a {
        background-color: transparent;
    }

    .nav-links a:hover {
        background-color: transparent;
        color: #fff;
    }

    .show-menu {
        display: flex;
    }

    .menu-icon .bar {
        display: block;
    }
}


.switch {
    position: relative;
    display: inline-block;
    width: 53px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0,123,255,.5);
    border-radius: 34px;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 1px;
    bottom: 1.6px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: rgba(0, 0, 0, 0.5);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.sun-icon,
.moon-icon,
.slider-icon i {
    color: #f8f8f8;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sun-icon {
    left: 10px;
}

.moon-icon {
    right: 10px;
}

.slider-icon {
    display: flex;
    justify-content: space-between;
    width: 40px;
    height: 26px;
    top: 4px;
    left: 30px;
}

.carousel-inner {
    position: relative;
    width: 100%;
    height: 300px !important;
    overflow: hidden;
}



.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.formula-section
{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    width:38%;
}

@media screen and (max-width: 958px) {
    .contact-section
    {
        display: flex !important;   
        flex-direction: column !important;
    }
    .formula-section
    {
        width: 98%;
    }
}

.calTextbox
{
    max-width: 100px;
}

.ZTbholder
{
    display: flex;
}
.ZTbchildTwo
{
    margin-left: 48px;
}
.form-group
{
    display: flex;
    flex-direction: column;
}

.labelSpecific
{
    color: #007bff;
}
.contact-sectionInner
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carousel-indicators li
{
    background-color: #007bff91 !important;
}
.max-wid
{
    max-width: 446px !important;
}
.current-page {
    border-bottom: 2px solid black !important;
}

.thanksdiv
{
    display: flex;
    align-items: center;
}

@media screen and (max-width:480px) {

    .thanksdiv
    {
        display: flex;
        flex-direction: column-reverse;
    }
    
}



/* 
loader */


.scene {
    position: relative;
    z-index: 2;
    height: 220px;
    width: 220px;
    display: grid;
    place-items: center;
  }
  
  .cube-wrapper {
    transform-style: preserve-3d;
    animation: bouncing 2s infinite;
  }
  
  .cube {
    transform-style: preserve-3d;
    transform: rotateX(45deg) rotateZ(45deg);
    animation: rotation 2s infinite;
  }
  
  .cube-faces {
    transform-style: preserve-3d;
    height: 80px;
    width: 80px;
    position: relative;
    transform-origin: 0 0;
    transform: translateX(0) translateY(0) translateZ(-40px);
  }
  
  .cube-face {
    position: absolute;
    inset: 0;
    background: rgb(171, 175, 174);
    border: solid 1px rgb(242, 241, 248);
  }
  .cube-face.shadow {
    transform: translateZ(-80px);
    animation: bouncing-shadow 2s infinite;
  }
  .cube-face.top {
    transform: translateZ(80px);
  }
  .cube-face.front {
    transform-origin: 0 50%;
    transform: rotateY(-90deg);
  }
  .cube-face.back {
    transform-origin: 0 50%;
    transform: rotateY(-90deg) translateZ(-80px);
  }
  .cube-face.right {
    transform-origin: 50% 0;
    transform: rotateX(-90deg) translateY(-80px);
  }
  .cube-face.left {
    transform-origin: 50% 0;
    transform: rotateX(-90deg) translateY(-80px) translateZ(80px);
  }
  
  @keyframes rotation {
    0% {
      transform: rotateX(45deg) rotateY(0) rotateZ(45deg);
      animation-timing-function: cubic-bezier(0.17, 0.84, 0.44, 1);
    }
    50% {
      transform: rotateX(45deg) rotateY(0) rotateZ(225deg);
      animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06);
    }
    100% {
      transform: rotateX(45deg) rotateY(0) rotateZ(405deg);
      animation-timing-function: cubic-bezier(0.17, 0.84, 0.44, 1);
    }
  }
  @keyframes bouncing {
    0% {
      transform: translateY(-40px);
      animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06);
    }
    45% {
      transform: translateY(40px);
      animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    }
    100% {
      transform: translateY(-40px);
      animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06);
    }
  }
  @keyframes bouncing-shadow {
    0% {
      transform: translateZ(-80px) scale(1.3);
      animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06);
      opacity: 0.05;
    }
    45% {
      transform: translateZ(0);
      animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
      opacity: 0.3;
    }
    100% {
      transform: translateZ(-80px) scale(1.3);
      animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06);
      opacity: 0.05;
    }
  }

  .loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 11, 19, 0.904); /* Black background with some transparency */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Make sure it's on top of other elements */
  }


  /* building loader */

  