<header class="header">
    <nav class="navbar">
        <a href="/">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/gpteng.png') }}" alt="Logo">
                <h1>BeachEngineer</h1>
            </div>
        </a>    
        <div class="menu-icon" onclick="toggleNavMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        
        <ul class="nav-links" id="navLinks">
            <!-- <li><a href="#home">Home</a></li> -->
            <li><a href="/services">Services</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <label class="switch">
            <input type="checkbox" id="themeSwitch" onclick="toggleTheme()">
            <span class="slider round">
                <div class="sun-icon">
                    <!-- <i class="fas fa-sun"></i> -->
                </div>
                <div class="moon-icon">
                    <!-- <i class="fas fa-moon"></i> -->
                </div>
            </span>
        </label>
    </nav>
</header>
